form{
    width: 800px;
    margin: 30px auto;
    text-align: center;
}
form input{
    margin-bottom: 15px;
}

form input[type= 'button']{
    margin-right: 20px;
}
input:placeholder-shown{
    text-align: center;
    font-size: 1.2em;
}
form input[type = 'date']{
    text-align: center;
    font-size: 1.2em;
}

@media (max-width: 900px){
    form{
        width: 95%;
    }
}