@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rowdies&display=swap');

.header{
    background-color: aquamarine;
    height: 100px;
}

.type{
    margin: auto;
    text-align: center;
    font-size: 3.6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    font-family: 'Poppins', sans-serif;
    transform: translate(-50%, -50%);
}

.footer a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: rgb(163, 138, 106);
}