@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rowdies&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Poppins&display=swap');

.header{
    height: 100px;
    font-family: 'Noto Sans JP', sans-serif;  
}

.type{
    margin: auto;
    text-align: center;
    font-size: 3.6rem;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    font-family: 'Poppins', sans-serif;
    transform: translate(-50%, -50%);
}

.footer{
    text-align: center;
}
.footer a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: rgb(163, 138, 106);
}